<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853078574479-fhlrio4gcipej5l0jodsu7j9l0cg7kn7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853078574479-fhlrio4gcipej5l0jodsu7j9l0cg7kn7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>853078574479-6bf1i30frvolp6b6dp7gkveo0akl8f1s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCkq9JaBnfdab-rp61OCNjE8tFFd2nbY7g</string>
	<key>GCM_SENDER_ID</key>
	<string>853078574479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.paulhuerkamp.engelsburgPlaner</string>
	<key>PROJECT_ID</key>
	<string>engelsburg-planer</string>
	<key>STORAGE_BUCKET</key>
	<string>engelsburg-planer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:853078574479:ios:c1594c13f4814036ae37fa</string>
</dict>
</plist>
